<!DOCTYPE html>
<html>
<head>
    <title>Categories</title>
</head>
<body>
    <h1>Categories</h1>
    <a href="{{ path('product_view') }}">Products</a> |
    <a href="{{ path('order_view') }}">Orders</a>
    <br><br>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Product Count</th>
        </tr>
        {% for category in categories %}
        <tr>
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
            <td>{{ category.products|length }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>